html, body{
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#left_panel{
    height: 100%;
    width: 50%;
    background-color: gainsboro;
    float: left;
}

#center_line{
    height: 100%;
    width: 1px;
    background-color: gainsboro;
    float: left;
    cursor: w-resize;
}

#right_panel{
    height: 100%;
    width: 50% - 1px;
    background-color: white;
    float: left;
}