@font-face {
    font-family: Exo2Norm;
    src: url("../../../assets/Exo2-Light.ttf");
}

body {
    padding: 0px;
    margin: 0px;
}

#drag_title {
    height: 30px;
    width: 100%;
    float: left;
}

.title {
    width: 100%;
    text-align: left;
    padding-left: 40px;
    font-family: Exo2Norm;
    color: rgb(140, 140, 140);
    font-size: 24px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.setting_box {
    line-height: 40px;
    width: 100%;
    height: 40px;
    padding-left: 40px;
    font-family: Exo2Norm;
    color: rgb(182, 182, 182);
    box-sizing: border-box;
}

#file_label {
    height: 30px;
    margin-top: 5px;
    border: 1px solid;
    width: calc(100% - 80px);
    float: left;
}

#file_btn {
    height: 24px;
    width: 24px;
    float: left;
    margin-left: 8px;
    margin-top: 8px;
    background-size: cover;
    cursor: pointer;
    background-image: url("../../../assets/css.png");
}

.btn_box {
    margin-top: 70px;
    width: 100%;
    height: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

#apply_btn, #cancel_btn{
    float: right;
    height: 100%;
    font-family: Exo2Norm;
    color: rgb(151, 151, 151);
    line-height: 40px;
    margin-left: 20px;
    cursor: pointer;
}