html, body{
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#init_size_box{
    width: 0px;
    height: 0px;
    display: none;
}

#main_panel{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#left_panel{
    height: 100%;
    width: 50%;
    background-color: #F3F3F3;
    float: left;
}

#center_line{
    height: calc(100% - 40px);
    width: 4px;
    background-color: #F3F3F3;
    float: right;
    cursor: w-resize;
}

#right_panel{
    height: 100%;
    width: 50%;
    background-color: white;
    float: right;
    text-align: center;
}

#button_bar{
    height: 40px;
    width: 100%;
}

#drag_title{
    float:left;
    height: 40px;
    width: calc(100% - 93px);
}

#close_btn{
    height: 14px;
    width: 14px;
    float: right;
    margin-top: 13px;
    margin-right: 17px;
    background-image: url("../../../assets/close.png");
    background-size: cover;
    cursor: pointer;
}

#max_btn{
    height: 14px;
    width: 14px;
    float: right;
    margin-top: 13px;
    margin-right: 17px;
    background-image: url("../../../assets/max.png");
    background-size: cover;
    cursor: pointer;
}

#min_btn{
    height: 14px;
    width: 14px;
    float: right;
    margin-top: 13px;
    margin-right: 17px;
    background-image: url("../../../assets/min.png");
    background-size: cover;
    cursor: pointer;
}

#menu_btn{
    height: 14px;
    width: 14px;
    float: left;
    margin-top: 13px;
    margin-left: 17px;
    background-image: url("../../../assets/menu.png");
    background-size: cover;
    cursor: pointer;
}

#md_preview{
    width: 100%;
    height: calc(100% - 55px);
    padding-left: 40px;
    padding-right: 40px;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 80px);
    font-family: "微软雅黑";
    box-sizing: border-box;
    text-align: left;
    word-wrap:break-word;
    position: relative;
}

#md_preview img{
    max-width: 100%;
}

#md_input{
    width: calc(100% - 20px);
    height: auto;
    min-height: calc(100% - 80px);

    border: none;
    outline:none;
    resize:none;
    background-color: transparent;
    font-family: "微软雅黑";

    overflow-y: visible;
}

#md_input_box{
    width: calc(100% - 4px);
    background-color: transparent;
    margin-top: 35px;
    float: left;
    text-align:center;
    overflow-y: hidden;
    overflow-x: hidden;
}

#preview_mode_box{
    width: 100%;
    height: 40px;
    padding-top: 10px;
    box-sizing: border-box;
    margin-bottom: 0px;
    background-color: transparent;
}

.scrollstyle::-webkit-scrollbar-track
{
	background-color: #F3F3F3;
}

.scrollstyle::-webkit-scrollbar
{
	width: 2px;
	background-color: #F3F3F3;
}

.scrollstyle::-webkit-scrollbar-thumb
{
	background-color: #C7C7C7;
}