@font-face
{
font-family: Exo2;
src: url("../../../assets/Exo2-ExtraLight.ttf");
}
@font-face
{
font-family: Exo2Norm;
src: url("../../../assets/Exo2-Light.ttf");
}

html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: "PingFangSC-Regular"
}

#init_size_box {
    width: 0px;
    height: 0px;
    display: none;
}

#main_panel {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#left_panel {
    height: 100%;
    width: 50%;
    background-color: #F3F3F3;
    float: left;
}

#center_line {
    height: calc(100% - 40px);
    width: 4px;
    background-color: #F3F3F3;
    float: right;
    cursor: w-resize;
}

#right_panel {
    height: 100%;
    width: 50%;
    background-color: white;
    float: right;
    text-align: center;
}

#button_bar {
    height: 40px;
    width: 100%;
}

#drag_title {
    float: left;
    height: 40px;
    width: calc(100% - 93px);
}

#close_btn {
    height: 14px;
    width: 14px;
    float: right;
    margin-top: 13px;
    margin-right: 17px;
    background-image: url("../../../assets/close.png");
    background-size: cover;
    cursor: pointer;
}

#max_btn {
    height: 14px;
    width: 14px;
    float: right;
    margin-top: 13px;
    margin-right: 17px;
    background-image: url("../../../assets/max.png");
    background-size: cover;
    cursor: pointer;
}

#min_btn {
    height: 14px;
    width: 14px;
    float: right;
    margin-top: 13px;
    margin-right: 17px;
    background-image: url("../../../assets/min.png");
    background-size: cover;
    cursor: pointer;
}

#menu_btn {
    height: 14px;
    width: 14px;
    float: left;
    margin-top: 13px;
    margin-left: 17px;
    background-image: url("../../../assets/menu.png");
    background-size: cover;
    cursor: pointer;
}

#md_preview {
    width: 100%;
    height: calc(100% - 55px);
    padding-left: 40px;
    padding-right: 40px;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 80px);
    font-family: "PingFangSC-Regular", "微软雅黑";
    box-sizing: border-box;
    text-align: left;
    word-wrap: break-word;
    position: relative;
}

#md_preview img {
    max-width: 100%;
}

#md_input {
    width: calc(100% - 20px);
    height: auto;
    min-height: calc(100% - 80px);
    border: none;
    outline: none;
    resize: none;
    background-color: transparent;
    font-family: "PingFangSC-Regular", "微软雅黑";
    overflow-y: visible;
}

#md_input_box {
    width: calc(100% - 4px);
    background-color: transparent;
    margin-top: 35px;
    float: left;
    text-align: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

#preview_mode_box {
    width: 100%;
    height: 40px;
    padding-top: 10px;
    box-sizing: border-box;
    margin-bottom: 0px;
    background-color: transparent;
}

#pres_play_box {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    float: right;
}

#pres_play_btn {
    height: 16px;
    width: 16px;
    float: right;
    margin-top: 2px;
    margin-right: 2px;
    background-image: url("../../../assets/play.png");
    background-size: cover;
    cursor: pointer;
}

#pres_show {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    text-align: left;
}

#pres_show page {
    background-color: white;
    box-shadow: 0px 0px 0px #BDBDBD !important;
    font-family: "PingFangSC-Regular", "微软雅黑";
}

#preview_mode_center {
    float: right;
    margin-right: 15px;
}

#menu_title{
    width: 100%;
    height: 150px;
    font-family: Exo2;
    line-height: 150px;
    font-size: 40px;
    text-align: center;
    color: rgb(182, 182, 182);
    border-bottom:1px solid rgb(236, 236, 236);
}

#menu_box{
    width: 100%;
    height: calc(100% - 150px);
    padding-top: 50px;
}

.menu_item{
    width: 100%;
    height: 55px;
    background-color: white;
    transition: all .3s; 
    -webkit-transition: all .3s; 
    color: rgb(136, 136, 136);
    line-height: 55px;
    font-size: 18px;
    text-align: center;
    font-family: Exo2Norm;
    cursor: pointer;
}

.menu_item:hover{
    background-color: #D3D1D1;
    color: rgb(255, 255, 255);
}

.scrollstyle::-webkit-scrollbar-track {
    background-color: #F3F3F3;
}

.scrollstyle::-webkit-scrollbar {
    width: 2px;
    background-color: #F3F3F3;
}

.scrollstyle::-webkit-scrollbar-thumb {
    background-color: #C7C7C7;
}
