page{
    padding-left: 10%;
    padding-top: 5%;
    background-color: white;
    padding-right: 10%;
    box-sizing: border-box;
    width: calc(100%);
    height: 100%;
    position: absolute;
    box-shadow: 0px 0px 15px #BDBDBD;
    visibility: hidden;

}

page h1{
    margin-top: 12%;
    text-align: center;
    font-size: 1.5em;
}


page h2{
    font-size: 1.3em;
}

page h3{
    text-align: center;
    font-size: 0.75em;
    font-weight: normal;
    margin-top: 20%;
}

page li{
    font-size: 0.8em;
    line-height: 250%;
}


page p{
    font-size: 0.65em;
    line-height: 180%;
    text-align: justify;
}

page img{
    max-width: 80%;
}

#pres_box{
    position:relative;
    padding-bottom: 75%;
    height: 0;
}

#holder_box{
    visibility: hidden;
    position:relative;
}