#pres_show {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    text-align: left;
}

#pres_show page {
    background-color: white;
    box-shadow: 0px 0px 0px #BDBDBD !important;
    font-family: "PingFangSC-Regular", "微软雅黑";
}

page h1{
    margin-top: 12%;
    text-align: center;
    font-size: 1.5em;
}

page h2{
    font-size: 1.3em;
}

page h3{
    text-align: center;
    font-size: 0.75em;
    font-weight: normal;
    margin-top: 20%;
}

page li{
    font-size: 0.8em;
    line-height: 250%;
}


page p{
    font-size: 0.65em;
    line-height: 180%;
    text-align: justify;
}

page img{
    max-width: 80%;
}