<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Presentation</title>
    <script>
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>
    <link href="../styles/css_setting.css" rel="stylesheet" type="text/css">
    <script src="../../lib/jquery.js"></script>
</head>

<body>
    <div id="drag_title" style="-webkit-app-region: drag"></div>
    <div class="title">Presentation Style</div>
    <div class="setting_box">Custom CSS File</div>
    <div class="setting_box">
        <div id="file_label"></div>
        <div id="file_btn"></div>
    </div>
    <div class="btn_box">
        <div id="cancel_btn">CANCEL</div>
        <div id="apply_btn">APPLY</div>
    </div>
</body>

<script type="text/javascript">

var ipc = require('electron').ipcRenderer;
var css_path;

$('#file_btn').click(function(){
    ipc.send('open-css-dialog');
})

$('#cancel_btn').click(function(){

    ipc.send('hide-css_setting');
})

$('#apply_btn').click(function(){
    if(css_path){
        console.log('apply');
        ipc.send('css_setting_path', css_path);
    }
    ipc.send('hide-css_setting');
})

ipc.on('selected-css-file', function (event, path) {
    $('#file_label').html(path[0])
    css_path = path[0];
});

</script>

</html>