<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Presentation</title>
    <script>
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>
    <link href="../styles/css_setting.css" rel="stylesheet" type="text/css">
    <script src="../../lib/jquery.js"></script>
</head>

<body>
    <div id="drag_title" style="-webkit-app-region: drag"></div>
    <div class="title">Presentation Style</div>
    <div class="setting_box">Custom CSS File</div>
    <div class="setting_box">
        <div id="file_label"></div>
        <div id="file_btn"></div>
    </div>
    <div class="btn_box">
        <div id="cancel_btn">CANCEL</div>
        <div id="apply_btn">APPLY</div>
    </div>
</body>

<script type="text/javascript">
</script>

</html>