<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>toPresent</title>
    <script>
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>
    <link id="pres_css" href="../styles/presmode.css" rel="stylesheet" type="text/css">
    <script src="../../../src/lib/codemirror/lib/codemirror.js"></script>
    <link rel="stylesheet" href="../../../src/lib/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="../../../src/lib/codemirror/theme/neo.css">
    <script src="../../../src/lib/codemirror/addon/scroll/simplescrollbars.js"></script>
    <script src="../../../src/lib/codemirror/addon/search/searchcursor.js"></script>
    <link rel="stylesheet" href="../../../src/lib/codemirror/addon/scroll/simplescrollbars.css">
    <script src="../../../src/lib/codemirror/mode/markdown/markdown.js"></script>
    <script src="../../lib/jquery.js"></script>
    <link href="../styles/main.css" rel="stylesheet" type="text/css">
    <script src="../controllers/dragwindow.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../src/lib/switcher/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../../../src/lib/switcher/htmleaf-demo.css">
    <link rel="stylesheet" type="text/css" href="../../../src/lib/switcher/SimpleSwitch.css" />
    <script type="text/javascript" src="../../../src/lib/switcher/SimpleSwitch.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../src/lib/menu/jquery.popuplayer.min.css" />
    <script type="text/javascript" src="../../../src/lib/menu/jquery.popuplayer.min.js"></script>
    <style id="custom_pres_css" type="text/css"></style>
</head>

<body>
    <div id="main_panel">
        <div id="left_panel">
            <div id="button_bar">
                <div id="menu_btn"></div>
                <div id="drag_title" style="-webkit-app-region: drag"></div>
            </div>
            <textarea id="md_input"></textarea>
            <div id="center_line">

            </div>
        </div>

        <div id="right_panel">
            <div id="button_bar">
                <div id="close_btn"></div>
                <div id="max_btn"></div>
                <div id="min_btn"></div>
                <div id="drag_title" style="-webkit-app-region: drag"></div>
            </div>
            <div id="md_preview" class="scrollstyle"></div>
            <div id="preview_mode_box">
                <div id="preview_mode_switcher">
                    <input type="checkbox" data-type="simple-switch" data-material="true" />
                </div>
                <div class="pres_ctl_box">
                    <div id="pres_play_btn"></div>
                </div>
                <div class="pres_ctl_box">
                    <div id="setting_btn"></div>
                </div>
                <div id="pre_setting_box">
                    <div class="pres">
                </div>
            </div>
        </div>
    </div>
    <div id="init_size_box"></div>
</body>

<script type="text/javascript">
    SimpleSwitch.init();
    const {
        remote
    } = require('electron')
</script>
<script src="../../../src/windows/controllers/Normmd.js"></script>
<script src="../../../src/windows/controllers/Present.js"></script>
<script src="../../../src/windows/controllers/windowsctl.js"></script>

</html>