<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>toPresent</title>
    <script>
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>
    <link href="../styles/presmode.css" rel="stylesheet" type="text/css">
    <script src="../../../src/lib/codemirror/lib/codemirror.js"></script>
    <link rel="stylesheet" href="../../../src/lib/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="../../../src/lib/codemirror/theme/neo.css">
    <script src="../../../src/lib/codemirror/addon/scroll/simplescrollbars.js"></script>
    <link rel="stylesheet" href="../../../src/lib/codemirror/addon/scroll/simplescrollbars.css">
    <script src="../../../src/lib/codemirror/mode/markdown/markdown.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <link href="../styles/main.css" rel="stylesheet" type="text/css">
    <script src="../controllers/dragwindow.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../src/lib/switcher/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../../../src/lib/switcher/htmleaf-demo.css">
    <link rel="stylesheet" type="text/css" href="../../../src/lib/switcher/SimpleSwitch.css" />
    <script type="text/javascript" src="../../../src/lib/switcher/SimpleSwitch.min.js"></script>

</head>

<body>
    <div id="main_panel">
        <div id="left_panel">
            <div id="button_bar">
                <div id="menu_btn"></div>
                <div id="drag_title" style="-webkit-app-region: drag"></div>
            </div>
            <textarea id="md_input"></textarea>
            <div id="center_line">

            </div>
        </div>

        <div id="right_panel">
            <div id="button_bar">
                <div id="close_btn"></div>
                <div id="max_btn"></div>
                <div id="min_btn"></div>
                <div id="drag_title" style="-webkit-app-region: drag"></div>
            </div>
            <div id="md_preview" class="scrollstyle"></div>
            <div id="preview_mode_box">
                <input type="checkbox" data-type="simple-switch" data-material="true" />
            </div>
        </div>
    </div>

</body>

<script type="text/javascript">
    SimpleSwitch.init();
    var editor = CodeMirror.fromTextArea(document.getElementById("md_input"), {
        mode: "markdown",
        lineNumbers: true,
        theme: "neo",
        lineWrapping: "true",
        scrollbarStyle: "simple"
    });

    var marked = require('marked');


    var pres_renderer = new marked.Renderer();
    var norm_renderer = new marked.Renderer();
    
    norm_renderer.heading = function (text, level, raw) {
        if (level == 1 && text == "ps") {
            return ""
        }
        if (level == 1 && text == "sp") {
            return "<hr></hr>"
        }
        if (level == 1 && text == "pe") {
            return ""
        }
        if (level == 1 && (text == "/ps" || text == "/ps" || text == "/ps")) {
            return '<h' +
                level +
                ' id="' +
                this.options.headerPrefix +
                raw.toLowerCase().replace(/[^\w]+/g, '-') +
                '">' +
                text.replace("/", "") +
                '</h' +
                level +
                '>\n';
        }
        return '<h' +
            level +
            ' id="' +
            this.options.headerPrefix +
            raw.toLowerCase().replace(/[^\w]+/g, '-') +
            '">' +
            text +
            '</h' +
            level +
            '>\n';
    };

    pres_renderer.heading = function (text, level, raw) {
        if (level == 1 && text == "ps") {
            return "<page>"
        }
        if (level == 1 && text == "sp") {
            return "</page><page>"
        }
        if (level == 1 && text == "pe") {
            return "</page>"
        }
        if (level == 1 && (text == "/ps" || text == "/ps" || text == "/ps")) {
            return '<h' +
                level +
                ' id="' +
                this.options.headerPrefix +
                raw.toLowerCase().replace(/[^\w]+/g, '-') +
                '">' +
                text.replace("/", "") +
                '</h' +
                level +
                '>\n';
        }
        return '<h' +
            level +
            ' id="' +
            this.options.headerPrefix +
            raw.toLowerCase().replace(/[^\w]+/g, '-') +
            '">' +
            text +
            '</h' +
            level +
            '>\n';
    };
    marked.setOptions({
        renderer: norm_renderer,
        gfm: true,
        tables: true,
        breaks: false,
        pedantic: false,
        sanitize: false,
        smartLists: true,
        smartypants: false
    });
    const {
        remote
    } = require('electron')
</script>
<script src="../../../src/windows/controllers/windowsctl.js"></script>

</html>